*{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
}

.header{
    background-color: wheat;
}

/* navigation */

.navigation{
    padding: 50px 140px 25px; 
    text-transform: uppercase;
    color:black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation__list{
    list-style: none;
    display:flex;
    flex-flow: row wrap;
}


.navigation__link{
    padding: 0px 25px;
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight: bold;
}


.user-button{
    padding: 10px 0px 10px 50px;
    position: relative;
}

.user-button::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    
    /* background-color:rgba(12, 12, 12, 0.3);  */
    
    background-image: url("../img/user-exit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 20px;
    top: 27%;
}


/* slider */
.slider{
    padding: 0px 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.slider__text{
    margin-top: 60px;
}

.slider__subtitle{
    font-size: 55px;
    /* text-transform: uppercase; */
    line-height:55px;

}

.slider__off-text{
    margin: 40px 0px;
}


.slider__btn{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #fb565a;
    padding: 20px 60px;
}




/* main block */

.block{
    padding: 0px 140px;
}

.advantage{
    padding-top: 80px;

}


.advantage-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}


.advantage-subtitle{
    text-transform: uppercase;
    padding: 25px 0px;
}

.advantage-item{
    max-width: 300px;
}

.advantage-link{
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color:white;
    padding: 15px 40px;
    text-transform: uppercase;
}

.red-btn{
    background-color: #fb565a;
}

.green-btn{
    background-color: #00ca74;
}

.yellow-btn{
    background-color:#efc84a;
}


/* about us */

.block-about{
    padding-top: 80px;
}


.about-container{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}


.about-list{
    max-width: 660px;
}

.about-subtitle{
    font-size: 44px;
}

.about-text{
    margin: 50px 0px;
    font-size: 16px;
}

.about-list-title{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-list-item{
    list-style-image: url(../img/wow.png);
    padding-left: 30px;
}
.about-item{
    padding: 20px 0px;
}

.right--list{
    max-width: 360px;
}

.about-list-title{
    margin: 30px 0px;
}


.table-numbers{
    font-size: 45px;
    font-weight:bold;
    
}

.about-table{
    border-spacing: 0px 10px;
}


/* partners container */


.partners-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 0px;
    
}

.partners-logo{
    height: 80px;
    width: 220px;
}


/* map section */

.block-map{
    background-image: url(../img/map.jpg);
    min-height: 420px;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover ;
}

.map-marker{
    position: absolute;
    top: 9%;
    left: 61%;
}

.block-map-info{
    background-color: white;
    padding: 45px;
}

.block-map-info{
    display: inline-block;
    margin-top: 60px;
    max-width: 300px;
}

.map-info-text{
    margin: 20px 0px;
}

.first-info{
    margin-top: 0px;
    font-weight: bold;
}

.map-info-link{
    display: block;
    text-decoration: none;
    background-color: #fb565a;
    padding: 20px 50px;
    color:white;
    text-transform: uppercase;
    font-size: 20px;
}




/* footer */

.footer-social{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
}

.footer-subtitle{
    font-size: 36px;
    
    font-weight: bold;
    margin-bottom: 5px;
}




.social-btn{
    width: 80px;
    height: 80px;
    border: 2px solid wheat;
    border-radius: 55px;
    margin: 0px 5px;
    background-color: wheat;
    position: relative;
}

.social-logo{
    position: absolute;
    top: 39%;
    left: 38%;
}